
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  a{text-decoration: none;}
  
  ul,
  ol{
    list-style: none;
  }
  
  header{
    background-color: antiquewhite;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    header nav ul{
        display: flex;
        gap: 1rem;
    }

  }




.listaproducto {
    background-color:navajowhite;
    padding: 1rem;
    display: flex;
    justify-content: space-between; /* Añadir punto y coma aquí */
    align-items: center; /* Añadir punto y coma aquí */

    
}

//*Portada//*
.portada{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.cajadeproductos {
    display: flex;

    .zinc {
        border: 2px;
        max-width: 280px;
        min-height: 320px;
        display: flex; /* Debes aplicar display: flex; a .zinc para que funcione */

        img {
            width: 100%;
            height: 180px;
        }

        div {
            border-top: 2px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
    }
}