
.logo_whatsapp {
    width: 100px;
    height: auto;
    margin: 10px;
    position: fixed; /* Mantenemos la posición fija */
    right: 10px; /* Ajustamos la posición */
    bottom: 10px; /* Ajustamos la posición */
}

